@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-primary: #C8A26E;
    --color-primary-dark: #A97142;
    --color-secondary: #E9D8B6;
    --color-background: #FAF8F5;
    --color-text: #1F2937;
}

/* Custom styles */
body {
    background-color: var(--color-background);
    color: var(--color-text);
}
